<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>

    {% include 'head.html' %}

</head>
<body>
    
    {% include 'navbar.html' %}
    <div class="form-group" style = 'width: 400px'>
        <form action = {{ obj.get_abs_upt_path }} method = 'POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button type = 'submit' class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>